# Dependencies
node_modules

# Build output
dist

# Environment files
.env
.env.*
!.env.example

# Git
.git
.gitignore

# IDE
.vscode
.idea
*.swp
*.swo

# Test files
coverage
*.test.ts
__tests__

# Documentation
*.md
!README.md

# Misc
.DS_Store
*.log
npm-debug.log*
